grpm-uid @ git+https://gitlab.chudequebec.ca/gacou54/grpm_uid.git
dicom_rt_context_extractor @ git+https://gitlab.chudequebec.ca/sam23/dicom_rt_context_extractor.git
dicompyler-core @ git+https://github.com/dicompyler/dicompyler-core.git
scipy==1.7.3
scikit-image==0.19.1
shapely==1.8.0
mcdose2dicom @ git+https://gitlab.chudequebec.ca/sam23/mcdose2dicom.git
dicom-sr-builder @ git+https://gitlab.chudequebec.ca/sam23/dicom-sr-builder.git
numpy==1.20.3
prostate-calcification-segmentation @ git+https://gitlab.chudequebec.ca/sam23/prostatecalcificationsegmentation.git
topas-file-generator @ git+https://gitlab.chudequebec.ca/sam23/topasfilegenerator.git
egs-brachy-file-generator @ git+https://gitlab.chudequebec.ca/sam23/egs_brachy_file_generator.git
py3ddos @ git+https://github.com/smichi23/py3ddose.git
topas2numpy~=0.2.0
pydicom~=2.1.2
PyYAML==6.0
